/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file personalized for oncoanalyser 3.0.0
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using HMF genome paths and singularity images paths + limit of CPU / Mem
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh37_hmf' {
            fasta           = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/Homo_sapiens.GRCh37.GATK.illumina.fasta"
            fai             = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/Homo_sapiens.GRCh37.GATK.illumina.fasta.fai"
            dict            = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/Homo_sapiens.GRCh37.GATK.illumina.fasta.dict"
            img             = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/2.13.2/Homo_sapiens.GRCh37.GATK.illumina.fasta.img"
            bwamem2_index       = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/2.2.1"
            gridss_index    = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/2.13.2"
            star_index      = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/2.7.3a"
        }
        'GRCh38_hmf' {
            fasta           = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/GRCh38_masked_exclusions_alts_hlas.fasta"
            fai             = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/GRCh38_masked_exclusions_alts_hlas.fasta.fai"
            dict            = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/GRCh38_masked_exclusions_alts_hlas.fasta.dict"
            img             = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/GRCh38_masked_exclusions_alts_hlas.fasta.img"
            bwamem2_index       = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/bwa-mem2_index-2.2.1"
            gridss_index    = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/38/2.13.2"
            star_index      = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/star_index-gencode_38-2.7.3a"
        }
    }

  // Panel data paths
  panel_data_paths {
    wes {
      '38' {
        driver_gene_panel           = 'common/DriverGenePanel.38.tsv'
        sage_actionable_panel       = 'variants/ActionableCodingPanel.38.bed.gz'
        sage_coverage_panel         = 'variants/CoverageCodingPanel.38.bed.gz'
        pon_artefacts               = 'variants/pon_artefacts.38.tsv'
        target_region_bed           = 'copy_number/target_regions_definition.38.bed'
        target_region_normalisation = 'copy_number/cobalt_normalisation.38.tsv'
        target_region_msi_indels    = 'copy_number/target_regions_msi_indels.38.tsv'
        target_region_ratios        = 'copy_number/target_regions_ratios.38.tsv'
        isofox_counts               = ''
        isofox_gc_ratios            = ''
        isofox_gene_ids             = []
        isofox_tpm_norm             = []
      }
    }
  }
    
    ref_data_virusbreakenddb_path = '/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/virusbreakenddb_20210401'

}

process {

  // DNA Alignment
  withName: '.*:READ_ALIGNMENT_DNA:FASTP.*' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/fastp:0.23.4--hadf994f_2'
  }

  withName: '.*:READ_ALIGNMENT_DNA:BWAMEM2_ALIGN' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/mulled-v2-4dde50190ae599f2bb2027cb2c8763ea00fb5084:596c0d6a494faa218562f2be03af2714d454da4f-0'
  }

  // RNA Alignment
  withName: '.*:READ_ALIGNMENT_RNA:STAR_ALIGN' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/star:2.7.3a--0'
  }

  withName: '.*:READ_ALIGNMENT_RNA:SAMTOOLS_SORT' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/samtools:1.21--h50ea8bc_0'
  }

  withName: '.*:READ_ALIGNMENT_RNA:GATK4_MARKDUPLICATES' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/gatk4:4.6.1.0--py310hdfd78af_0'
  }

  // HMF Profiling & Calling
  withName: '.*:REDUX_PROCESSING:REDUX' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-redux:2.0.5--hdfd78af_0'
  }

  withName: '.*:ISOFOX_QUANTIFICATION:ISOFOX' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-isofox:2.0.1--hdfd78af_0'
  }

  withName: '.*:AMBER_PROFILING:AMBER' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-amber:4.3--hdfd78af_0'
  }

  withName: '.*:COBALT_PROFILING:COBALT' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-cobalt:3.0--hdfd78af_0'
  }

  withName: '.*:ESVEE.*' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-esvee:2.0.1--hdfd78af_0'
  }

  withName: '.*:SAGE_CALLING:SAGE_.*' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-sage:5.0.2--hdfd78af_0'
  }

  withName: '.*:SAGE_APPEND:SAGE_APPEND_.*' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-sage:5.0.2--hdfd78af_0'
  }

  withName: '.*:SAGE_PLOTTING:SAGE_VISUALISER' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-sage:5.0.2--hdfd78af_0'
  }

  withName: '.*:PAVE_ANNOTATION:PAVE_.*' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-pave:1.9--hdfd78af_0'
  }

  withName: '.*:PURPLE_CALLING:PURPLE' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-purple:4.4--hdfd78af_0'
  }

  withName: '.*:LINX_ANNOTATION:LINX_.*' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-linx:2.3.1--hdfd78af_0'
  }

  withName: '.*:LINX_PLOTTING:LINX_VISUALISER' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-linx:2.3.1--hdfd78af_0'
  }

  withName: '.*:LINX_PLOTTING:LINXREPORT' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/r-linxreport:1.2.0--r45hdfd78af_0'
  }

  withName: '.*:BAMTOOLS_METRICS:BAMTOOLS' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-bam-tools:1.6.1--hdfd78af_0'
  }

  withName: '.*:SIGS_FITTING:SIGS' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-sigs:1.2.1--hdfd78af_1'
  }

  withName: '.*:CHORD_PREDICTION:CHORD' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-chord:2.1.2--hdfd78af_0'
  }

  withName: '.*:LILAC_CALLING:LILAC' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-lilac:2.0--hdfd78af_0'
  }

  withName: '.*:PEACH_CALLING:PEACH' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-peach:2.0.0--hdfd78af_1'
  }

  withName: '.*:CIDER_CALLING:CIDER' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-cider:1.2--hdfd78af_0'
  }

  withName: '.*:TEAL_CHARACTERISATION:TEAL_.*' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-teal:1.4--hdfd78af_0'
  }

  withName: '.*:WISP_ANALYSIS:WISP' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-wisp:1.3.1--hdfd78af_0'
  }

  withName: '.*:QSEE_METRICS:QSEE' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-qsee:1.0--hdfd78af_0'
  }

  withName: '.*:VIRUSBREAKEND_CALLING:VIRUSBREAKEND' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/gridss_2.13.2--1.sif'
  }

  withName: '.*:VIRUSBREAKEND_CALLING:VIRUSINTERPRETER' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-virus-interpreter:1.7.2--hdfd78af_0'
  }

  withName: '.*:CUPPA_PREDICTION:CUPPA' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-cuppa:2.5.1--py311r42hdfd78af_0'
  }

  withName: '.*:ORANGE_REPORTING:ORANGE' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-orange:5.0.1--hdfd78af_0'
  }

  withName: '.*:MULTIQC' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/mulled-v2-d8bcaa0f18f0068460deb4841052ef5429108a27:f0d5b44eec0233d9bc8357f24755076bceef041a-0'
  }

  withName: '.*:CUSTOM_.*' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/ubuntu:20.04'
  }

  withName: '.*:NEO_PREDICTION:(NEO_FINDER|NEO_SCORER)' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-neo:1.3--hdfd78af_0'
  }

  withName: '.*:NEO_PREDICTION:NEO_ANNOTATE_FUSIONS' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-isofox:2.0.1--hdfd78af_0'
  }

}

// Changed min QUAL to 35 (10*-log10(0.0003162278) = 35)

// process {
//   withName: '.*:SAGE_CALLING:(GERMLINE|SOMATIC)' {
//     time = 20.h
//   }
//   withName: '^.*:SAGE_CALLING:SOMATIC' {
//     ext.args = [
// 		'-panel_min_tumor_qual 0.0003162278',
// 		'-hotspot_min_tumor_qual 0.0003162278',
// 		'-low_confidence_min_tumor_qual 0.0003162278',
// 		'-high_confidence_min_tumor_qual 0.0003162278'
// 	].join(' ').trim()
//   }
// }

// Additions from Pau for using different slurm jobs for different processes 

params {
  config_profile_description = '${SLURM_JOB_USER}'
  config_profile_contact = '${SLURM_JOB_USER} ${SLURM_JOB_USER}@vhio.net'
}

executor {
  name = 'slurm'
  queueSize = 12
}

process {
  executor = 'slurm'
  queue = { task.time <= 5.h && task.memory <= 10.GB ? 'short' : (task.time >= 10.d || task.memory < 72.GB ? 'long' : 'highmem') }
  maxRetries = 3
}

singularity {
  runOptions = "--bind ${launchDir}/tmp/:/tmp/"
  enabled = true
  autoMounts = true
  cacheDir = './cache/'
}
