/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file personalized
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines reference genomes using HMF genome paths and singularity images paths + limit of CPU / Mem
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh37_hmf' {
            fasta           = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/Homo_sapiens.GRCh37.GATK.illumina.fasta"
            fai             = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/Homo_sapiens.GRCh37.GATK.illumina.fasta.fai"
            dict            = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/Homo_sapiens.GRCh37.GATK.illumina.fasta.dict"
            bwamem2_index       = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/2.2.1"
            gridss_index    = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/2.13.2"
            star_index      = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/37/2.7.3a"
        }
        'GRCh38_hmf' {
            fasta           = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/GRCh38_masked_exclusions_alts_hlas.fasta"
            fai             = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/GRCh38_masked_exclusions_alts_hlas.fasta.fai"
            dict            = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/GRCh38_masked_exclusions_alts_hlas.fasta.dict"
            bwamem2_index       = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/bwa-mem2_index-2.2.1"
            gridss_index    = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/38/2.13.2"
            star_index      = "/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/v2.0.0/38/star_index-gencode_38-2.7.3a"
        }
    }

  // Panel data paths
  panel_data_paths {
    wes {
      '38' {
        driver_gene_panel           = 'common/DriverGenePanel.38.tsv'
        sage_actionable_panel       = 'variants/ActionableCodingPanel.38.bed.gz'
        sage_coverage_panel         = 'variants/CoverageCodingPanel.38.bed.gz'
        pon_artefacts               = 'variants/pon_artefacts.38.tsv'
        target_region_bed           = 'copy_number/target_regions_definition.38.bed'
        target_region_normalisation = 'copy_number/cobalt_normalisation.38.tsv'
        target_region_msi_indels    = 'copy_number/target_regions_msi_indels.38.tsv'
        target_region_ratios        = 'copy_number/target_regions_ratios.38.tsv'
        isofox_counts               = ''
        isofox_gc_ratios            = ''
        isofox_gene_ids             = []
        isofox_tpm_norm             = []
      }
    }
  }
    
    ref_data_virusbreakenddb_path = '/mnt/bioinfnas/immuno/Jonatan/References/hmftools_ref/ref_genome/virusbreakenddb_20210401'

}

process {

  withName: '.*:READ_ALIGNMENT_DNA:FASTP' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/fastp:0.23.4--hadf994f_2'
  }

  withName: '.*:READ_ALIGNMENT_DNA:BWAMEM2_ALIGN' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/mulled-v2-4dde50190ae599f2bb2027cb2c8763ea00fb5084:544519c4a0ff7e9616a3b44afde1f143c52f10c3-0'
  }

  withName: '.*:READ_ALIGNMENT_DNA:SAMBAMBA_INDEX' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/sambamba:1.0--h98b6b92_0'
  }

  withName: '.*:READ_ALIGNMENT_RNA:STAR' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/star:2.7.3a--0'
  }

  withName: '.*:READ_ALIGNMENT_RNA:SAMTOOLS_SORT' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/samtools:1.18--h50ea8bc_1'
  }

  withName: '.*:READ_ALIGNMENT_RNA:SAMBAMBA_MERGE' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/sambamba:1.0--h98b6b92_0'
  }

  withName: '.*:READ_ALIGNMENT_RNA:GATK4_MARKDUPLICATES' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/gatk4:4.4.0.0--py36hdfd78af_0'
  }

  withName: '.*:REDUX_PROCESSING:REDUX' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/redux_1.1-rc.3.sif'
  }

  withName: '.*:ISOFOX_QUANTIFICATION:ISOFOX' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-isofox:1.7.1--hdfd78af_0'
  }

  withName: '.*:AMBER_PROFILING:AMBER' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-amber:4.1_beta--hdfd78af_1'
  }

  withName: '.*:COBALT_PROFILING:COBALT' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-cobalt:2.0_beta--hdfd78af_1'
  }

  withName: '.*:ESVEE.*' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-esvee:1.0.3--hdfd78af_0'
  }

  withName: '.*:GRIPSS_FILTERING:(GERMLINE|SOMATIC)' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-gripss:2.4--hdfd78af_0'
  }

  withName: '.*:SAGE_CALLING:(GERMLINE|SOMATIC)' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-sage:4.0_beta--hdfd78af_4'
  }

  withName: '.*:PAVE_ANNOTATION:(GERMLINE|SOMATIC)' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-pave:1.7_beta--hdfd78af_2'
  }

  withName: '.*:PURPLE_CALLING:PURPLE' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-purple:4.1_beta--hdfd78af_3'
  }

  withName: '.*:SAGE_APPEND:(GERMLINE|SOMATIC)' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-sage:4.0_beta--hdfd78af_4'
  }

  withName: '.*:LINX_ANNOTATION:(GERMLINE|SOMATIC)' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/linx:2.0-rc.1.sif'
  }

  withName: '.*:LINX_PLOTTING:VISUALISER' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/linx:2.0-rc.1.sif'
  }

  withName: '.*:LINX_PLOTTING:REPORT' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/linx:2.0-rc.1.sif'
  }

  withName: '.*:FLAGSTAT_METRICS:SAMTOOLS_FLAGSTAT' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/samtools:1.16.1--h6899075_1'
  }

  withName: '.*:BAMTOOLS_METRICS:BAMTOOLS' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-bam-tools:1.3_beta--hdfd78af_1'
  }

  withName: '.*:SIGS_FITTING:SIGS' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-sigs:1.2.1--hdfd78af_0'
  }

  withName: '.*:CHORD_PREDICTION:CHORD' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-chord:2.1.0_beta--hdfd78af_4.2'
  }

  withName: '.*:LILAC_CALLING:LILAC' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-lilac:1.6--hdfd78af_0'
  }

  withName: '.*:VIRUSBREAKEND_CALLING:VIRUSBREAKEND' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/gridss_2.13.2--1.sif'
  }

  withName: '.*:VIRUSBREAKEND_CALLING:VIRUSINTERPRETER' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-virus-interpreter:3.7_beta--hdfd78af_1'
  }

  withName: '.*:CUPPA_PREDICTION:CUPPA' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-cuppa:2.3.0_beta--py311r42hdfd78af_2'
  }

  withName: '.*:ORANGE_REPORTING:ORANGE' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-orange:3.8.1--hdfd78af_0'
  }

  withName: '.*:CUSTOM_DUMPSOFTWAREVERSIONS' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/multiqc:1.11--pyhdfd78af_0'
  }

  withName: '.*:NEO.*' {
    container = '/mnt/bioinfnas/immuno/plevy/proj/hmftools/singularity/singularity_images/hmftools-neo:1.2_beta--hdfd78af_1'
  }

}

// Changed min QUAL to 35 (10*-log10(0.0003162278) = 35)

// process {
//   withName: '.*:SAGE_CALLING:(GERMLINE|SOMATIC)' {
//     time = 20.h
//   }
//   withName: '^.*:SAGE_CALLING:SOMATIC' {
//     ext.args = [
// 		'-panel_min_tumor_qual 0.0003162278',
// 		'-hotspot_min_tumor_qual 0.0003162278',
// 		'-low_confidence_min_tumor_qual 0.0003162278',
// 		'-high_confidence_min_tumor_qual 0.0003162278'
// 	].join(' ').trim()
//   }
// }

// Additions from Pau for using different slurm jobs for different processes 

params {
  config_profile_description = '${SLURM_JOB_USER}'
  config_profile_contact = '${SLURM_JOB_USER} ${SLURM_JOB_USER}@vhio.net'
}

executor {
  name = 'slurm'
  queueSize = 12
}

process {
  executor = 'slurm'
  queue = { task.time <= 5.h && task.memory <= 10.GB ? 'short' : (task.time >= 10.d || task.memory < 72.GB ? 'long' : 'highmem') }
  maxRetries = 3
}

singularity {
  runOptions = "--bind ${PWD}/tmp/:/tmp/"
  enabled = true
  autoMounts = true
  cacheDir = './cache/'
}
